html { height: 100%; }

body {
	font-family: sans-serif;
	font-size: .9em;
	height: 100%;
}

#main {
	 position: relative;
	 height: 100%;
}

#top {
	background: lightgray;
	height: 50px;
	position: absolute;
	width: 100%;
}

#nodes {
	background: red;
	bottom: 50px;
	color: white;
	position: absolute;
	top: 50px;
	width: 100px;
	overflow: auto;
}

.node {
	white-space: nowrap; 
}

.nodes .nodes {
	padding-left: 10px;
}

#middle {
	background: black;
	bottom: 50px;
	color: white;
	left: 100px;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 50px;
}

#bottom {
	background: lightgray;
	bottom: 0;
	height: 50px;
	position: absolute;
	width: 100%;
}