html { height: 100%; }

body {
	font-family: sans-serif;
	font-size: .9em;
	height: 100%;
}

#main {
	height: 100%;
	position: relative;
}

#top {
	border: 1px solid;
	height: 30px;
	left: 0;
	margin: 5px;
	padding: 4px;
	position: absolute;
	right: 0;
}

#nodes {
	border: 1px solid;
	bottom: 0;
	margin: 0 5px 5px 5px;
	overflow: auto;
	padding: 4px;
	position: absolute;
	top: 50px;
	width: 130px;
}

#tasks {
	border: 1px solid;
	bottom: 0;
	left: 150px;
	margin: 0 5px 5px 0;
	overflow: auto;
	position: absolute;
	right: 0;
	top: 50px;
}

.node {
	cursor: default;
	white-space: nowrap;
}

.nodes .nodes { padding-left: 10px; }

.task {
	border-style: solid;
	border-bottom-width: 1px;
	padding: 4px;
}

.taskdetail {
	height: 200px;
}